*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.nav{
    background-color: rgba(250, 235, 215, 0.884);
}
.nav li{
    display: inline-flex;
    text-decoration: none;
    padding: 15px;
    margin-right: 20px;

}
.nav li :hover{
    background-color: rgb(253, 197, 141);
    padding: 15px;
}
.about img{
    border-radius: 20px;
    margin-right: 20px;
    height: 200px;
    width: 200px;

} 
img{
    border-radius: 15px;
    width: 350px;
    height: 350px;
}